<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
</head>
<body>
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
        
        {{>menu active=""}}

        <div class="layout-page">

         {{>navbars}}

          <!-- Content wrapper -->
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Configuracion de Cuenta </h4>

              <div class="row">
                <div class="col-md-12">
                  <div class="card mb-4">
                    <h5 class="card-header">Datos Personales</h5>
                    <!-- Account -->
                    <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img
                          src="{{foto}}"
                          alt="user-avatar"
                          class="d-block rounded"
                          height="100"
                          width="100"
                          id="uploadedAvatar"
                        />
                      <form id="formAccountSettings" action="cuenta" method="POST" >
                        <div class="button-wrapper">
                          <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">Subir Nueva Foto</span>
                            <i class="bx bx-upload d-block d-sm-none"></i>
                            <input
                              type="file"
                              id="upload"
                              name="foto"
                              class="account-file-input"
                              hidden
                              accept="image/png, image/jpeg"
                            />
                          </label>
                          <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                            <i class="bx bx-reset d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Reset</span>
                          </button>

                          <p class="text-muted mb-0">soporta JPG, GIF or PNG. Max size of 800K</p>
                        </div>
                      </div>
                    </div>
                    <hr class="my-0" />
                        <input type="text" value="{{id}}" name="id" hidden>
                    <div class="card-body">
                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="Nombre" class="form-label">Nombre</label>
                            <input
                              class="form-control"
                              type="text"
                              id="Nombre"
                              name="Nombre"
                              value="{{nombre}}"
                              autofocus
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="Apellido" class="form-label">Apellido</label>
                            <input class="form-control" type="text" name="Apellido" id="Apellido" value="{{apellido}}" />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">E-mail</label>
                            <input
                              class="form-control"
                              type="text"
                              id="email"
                              name="email"
                              value="{{email}}"
                              placeholder="tu@email.com"
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="rut" class="form-label">rut</label>
                            <input
                              type="text"
                              class="form-control"
                              id="rut"
                              name="rut"
                              value="{{rut}}"
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label class="form-label" for="numero">numero Telefonico</label>
                            <div class="input-group input-group-merge">
                              <span class="input-group-text">CLP (+56)</span>
                              <input
                                type="text"
                                id="numero"
                                name="numero"
                                class="form-control"
                                value="{{numero_telefonico}}"
                                placeholder="9 1234 5678"
                              />
                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="Direccion" class="form-label">Direccion</label>
                            <input type="text" class="form-control" id="Direccion" name="Direccion" value="{{direccion}}" placeholder="Casa ### calle ##" />
                          </div>
                          
                          <div class="mb-3 col-md-6">
                            <label class="form-label" for="region">Region</label>
                            <select id="region" name="region" class="select2 form-select">
                                
                            </select>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="comuna" class="form-label">Comuna</label>
                            <select id="comuna"  name="comuna" class="select2 form-select">
                               
                            </select>
                          </div>
                        
                        </div>
                        <div class="mt-2">
                          <button type="submit" class="btn btn-primary me-2">Guardar Cambios</button>
                          <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                        </div>
                      </form>
                    </div>
                    <!-- /Account -->
                  </div>
                  <div class="card">
                    <h5 class="card-header">Eliminar Cuenta</h5>
                    <div class="card-body">
                      <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-warning">
                          <h6 class="alert-heading fw-bold mb-1">Estas seguro que quieres eliminar tu cuenta?</h6>
                          <p class="mb-0">Una vez que eliminas tu cuenta, no hay vuelta atrás. Por favor esté seguro.</p>
                        </div>
                      </div>
                      <form id="formAccountDeactivation" action="/delete" method="post">
                        <div class="form-check mb-3">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="accountActivation"
                            id="accountActivation"
                          />
                          <input type="text"
                            value="{{id}}"
                            name="delete"
                            hidden
                          >
                          <label class="form-check-label" for="accountActivation"
                            >Confirmo la desactivación de mi cuenta</label
                          >
                        </div>
                        <button type="submit" class="btn btn-danger deactivate-account">Deactivar Cuenta</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>

      </div>
    </div>
     
{{>scripts}}
<script src="js\comunas.js">
    </script>
    <script>
        let regionuser ="{{region}}";
        let comunauser="{{comuna}}";
    regionUsuario(regionuser);
    comunaUsuario(comunauser);
    </script>
</body>
</html>