<!DOCTYPE html>
<html lang="es">
<head>
 {{>head}}
</head>
<body>
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">

        {{>menu active="active"}}

        <div class="layout-page">

          {{>navbars}}

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <div class="row">
                <div class="col-lg-12 mb-4 order-0">
                  <div class="card">
                    <div class="d-flex align-items-end row">
                      <div class="col-sm-7">
                        <div class="card-body">
                          <h5 class="card-title text-primary">Bienvenido {{nombre}}! 🎉</h5>
                          <p class="mb-4">
                            Tu cuenta tiene un saldo de: <span class="fw-bold">$ {{saldo}}</span> 
                          </p>

                           <button {{disabledmodal}} type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modaltransferencia">Realizar trasnferecia</button>
                        </div>
                      </div>
                      <div class="col-sm-5 text-center text-sm-left">
                        <div class="card-body pb-0 px-0 px-md-4">
                          <img
                            src="img/illustrations/man-with-laptop-light.png"
                            height="140"
                            alt="View Badge User"
                            data-app-dark-img="illustrations/man-with-laptop-dark.png"
                            data-app-light-img="illustrations/man-with-laptop-light.png"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>                  
                <!-- Total Revenue -->
                <div class="col-12 col-lg-12 order-2 order-md-3 order-lg-2 mb-4">
                  <div class="card">
                    <div class="row row-bordered g-0">
                      <div class="col-md-12">
                        <h5 class="card-header m-1 me-2 pb-0">Transacciones</h5>
                        <div>
                            <div class="card">
                                <div class="table-responsive text-nowrap">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Referencia</th>
                                        <th>Fecha</th>
                                        <th>Comentario</th>
                                        <th>Monto</th>
                                        <th>Destinatario</th>
                                    </tr>
                                    </thead>
                                    <tbody class="table-border-bottom-0">
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
                <!--/ Total Revenue -->
                
                    
        
                </div>
              </div>
            </div>
            <!-- / Content -->

            <!-- Modal Backdrop -->

            <!-- Modal -->
            <div class="modal fade" id="modaltransferencia" data-bs-backdrop="static" tabindex="-1">
                <div class="modal-dialog">
                <form class="modal-content" action="/transferir" method="post">
                <input type="text" value="{{id}}" hidden>
                    <div class="modal-header">
                    <h5 class="modal-title" id="backDropModalTitle">Nueva Transferirencia</h5>
                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                    ></button>
                    </div>
                    <div class="modal-body">
                    <div class="row">
                        <div class="col mb-3">
                        <label for="Destinatario" class="form-label">Destinatario</label>
                        <select id="Destinatario" name="destinatario" class="select2 form-select">
                        {{#each data}}
                        <option value="{{id}}">{{nombre}}</option>
                         {{/each}}
                        </select>
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col mb-0">
                        <label for="Monto" class="form-label">Monto</label>
                        <input
                            type="number"
                            id="Monto"
                            name="monto"
                            class="form-control"
                            placeholder="$00.0"
                        />
                        </div>
                        <div class="col mb-0">
                        <label for="Comentario" class="form-label">Comentario</label>
                        <input
                            type="text"
                            id="Comentario"
                            name="comentario"
                            class="form-control"
                        />
                        </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-primary">Transferir</button>
                    </div>
                </form>
                </div>
            </div>

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="vendor/libs/jquery/jquery.js"></script>
    <script src="vendor/libs/popper/popper.js"></script>
    <script src="vendor/js/bootstrap.js"></script>
    <script src="vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="vendor/js/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="vendor/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="js/main.js"></script>

    <!-- Page JS -->
    <script src="js/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>